
.navbar {
	padding: 0;
	margin-bottom: 0;
	border: none;
	text-transform: uppercase;
	background-color: rgba(0, 0, 20, .7);
	background-image: none;
}
.margin{
	top:90px;
}

.wrapper {
	text-align: center;
	margin: 90px auto;
}

a {
	background-color: black;
	color: white;

	font-size: 16px;


	display: block;
	margin: 0 auto;


}
.gal{
	width:550px;
	margin: 20px auto;
}

.text{
	
	text-align: center;
	font-size: 72px;

}
.custom-background{
	color: #ffffff;
	background: url("images/red-02.jpg")50% 0 repeat fixed;
	min-height: 1000px;
	background-size: cover;
	background-position: center;
}
.custom-background-2{
	color: #ffffff;
	background: url("images/red-01.jpg")50% 0 repeat fixed;
	min-height: 1000px;
	background-size: cover;
	background-position: center;
}