#icon{
	height: 160px;
	width: 170px; 
	float: left;
	margin-top: 15px;
	margin-left: 50px;
	border: 1px solid;
	border-color: #770817 red;
}
.navbar {
	padding: 0;
	margin-bottom: 0;
	border: none;
	text-transform: uppercase;
	background-color: rgba(0, 0, 20, .7);
	background-image: none;
}
h1{
	background-color: #d3102a;
	font-size: 50px;
	font-family: Arial;
	border: 15px solid;
	border-color: #770817 red; 
	text-align: center;
	margin: 15px 10px 30px 20px;
	padding: 30px 20px;
	float: left;
	position: relative;
	color:white;
	width: 700px;
	text-shadow: 3px 3px red;
}
body{
	background-image: url("http://images.naldzgraphics.net/2011/03/40-pattern.jpg");
	
}
.p1{
	margin: 50px;
	width: 150px;
	background-color: #d3102a;
	font-family: Arial;
	border: 10px solid;
	border-color: #770817 red; 
	font-size: 18px;
	color: white;
	padding: 10px 15px;
	position: absolute;
	top: 170px;
	line-height: 25px;
}
.button{
	border: 5px solid black;
	height: 100px;
	font-size: 17px;
	margin-top: 90px;
	margin-left: -20px;
	width: 150px;
	padding: 20px;
	background-color: white;
	border-radius: 100%;
	text-align: center;
	position: absolute;	
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration-color: blue;
}
a:visited{
	text-decoration: none;
}
#photos{
	margin: 50px 50px 50px 300px;
	position: absolute;
	top: 170px;
}
.list{
	margin: 350px 50px 50px 300px;
	background-image: url("https://s-media-cache-ak0.pinimg.com/600x315/90/57/08/9057085f1d875f6bf3e3ed78bb8fde5b.jpg");
	font-family: Arial;
	border: 8px solid;
	border-color: #770817 red; 
	font-size: 18px;
	color: white;
	padding: 10px 15px;
	position: absolute;
	top: 170px;
}
.tips{
	margin: 630px 50px 50px 300px;
	width: 350px;
	background-color: #ef5656;
	background-image: url("https://s-media-cache-ak0.pinimg.com/600x315/90/57/08/9057085f1d875f6bf3e3ed78bb8fde5b.jpg");
	font-family: Arial;
	border: 5px solid;
	border-color: #770817 red; 
	font-size: 18px;
	color: white;
	padding: 1px 15px;
	position: absolute;
	line-height: 25px;
	top: 170px;
}
.photo{
	height: 250px;
	width: 460px;
/*	margin-top: 150px;*/
}
.requirements{
	margin: 630px 50px 50px 780px;
	width: 350px;
	background-color: #ef5656;
	background-image: url("https://s-media-cache-ak0.pinimg.com/600x315/90/57/08/9057085f1d875f6bf3e3ed78bb8fde5b.jpg");
	font-family: Arial;
	border: 5px solid;
	border-color: #770817 red; 
	font-size: 18px;
	color: white;
	padding: 1px 15px;
	position: absolute;
	line-height: 25px;
	top: 170px;
}

@media (max-width: 400px){
	h1{
		margin: -195px 10px 30px 290px;
		width: 500px;
	}
	#icon{
		margin: 80px 10px 30px 50px;
	}
	.p1{
		margin: 180px 50px 50px 60px;
	}	
	#photos{
		margin: 250px 10px 10px 300px;
		border-width: 500px;
		height: 400px;
/*		position: absolute;
*//*		top: 170px;
*/	}
	.list{
		width: 600px;
		clear: both;

	}
	.tips{
		width:200px;
		margin: 630px 20px 50px 300px;
	}
	.photo{
		height: 250px;
		width: 200px;
		display: inline;
	}
	.requirements{
		width:200px;
		margin: 630px 50px 20px 650px;
	}
}


